@import "src/scss/app";

.product-list {
  display: flex;
  flex-wrap: wrap;
  &-item {
    width: 50%;

    &-inner {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include outer-glow;
    }
    &-image {
      width: 75%;

      img {
        width: 100%;
      }
    }
  }
}
